<!DOCTYPE html>
<html>
    <head>
        <title>Math Flash</title>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="index.js"></script>

        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="header_wrapper">
            <h1 id="header_text">Math Flash</h1>
        </div>
        
        <div id="main_wrapper">
            <div id="question_wrapper">
                <p id="question_text">Please await question!</p>
            </div>
            <div id="answer_wrapper">
                <form id="answer_form">
                    <input id="answer_input" type="text" placeholder="Enter your answer here!" autocomplete="false">
                    <input type="submit" value="Enter!">
                </form>
            </div>
            <div id="responce_wrapper">
                <p id="responce_text">You have to answer first!</p>
            </div>
        </div>
    </body>
</html>