<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Math Flash</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="Math based flash cards for my sister">
        <meta name="keywords" content="flash, cards, math, 5th">
        <meta name="author" content="vacousVersifer">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
        <script src="index.js" defer></script>

        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="header_wrapper">
            <h1 id="header_text">Math Flash</h1>
        </div>
        
        <ul id="main_wrapper" class="col-9 menu">
            <li id="question_wrapper">
                <p id="question_text">Please await question!</p>
            </li>
            <li id="answer_wrapper">
                <form id="answer_form">
                    <input id="answer_input" type="text" placeholder="Enter your answer here!" autocomplete="off">
                    <input type="submit" value="Enter!">
                </form>
            </li>
            <li id="responce_wrapper">
                <p id="responce_text">You have to answer first!</p>
            </li>
        </ul>
    </body>
</html>